* {
    margin: 0px;
    padding: 0px;
    font-size: 17px;
    color: #333;
    font-family: '微软雅黑';
}

.main {
    max-width: 720px;
    margin: 0 auto;
    padding: 10px;
}

.main h2 {
    line-height: 26px;
}

.main h2 .red {
    color: #FF0000;
}

.main>span {
    font-size: 12px;
    color: rgb(51, 51, 51);
}

.main>span .blue {
    color: rgb(49, 126, 203);
}

.clos .title {
    background-color: rgb(192, 0, 0);
    line-height: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
}

.clos .title h3 {
    color: #fff;
}

.clos p {
    line-height: 28px;
    text-indent: 2em;
    text-align: justify;
}

.clos p .small {
    font-size: 13px;
}

.clos p .red {
    color: red;
}

.clos p .bold {
    font-weight: 600;
}

.clos p .bold-red {
    color: red;
    font-weight: 600;
}

.clos .tixing {
    padding: 10px 0;
}

.clos .tixing strong .bold-blue {
    color: #0000FF;
    line-height: 28px;
    padding: 15px 0px;
}

.clos img {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.clos .center {
    text-indent: 0;
    text-align: center;
}

.main .center {
    padding: 10px 0;
}

.detaillist {
    padding: 10px 0;
    border-top: 1px solid rgb(221, 221, 221);
}

.detaillist .xinxi {
    line-height: 24px;
    padding: 6px 10px;
    font-size: 14px;
}

.detaillist .xinxi .name {
    color: rgb(49, 126, 203);
    font-size: 14px;
}

.detaillist .xinxi .num {
    float: right;
    font-size: 14px;
}

.detaillist .content {
    padding: 0px 10px;
    overflow: hidden;
    text-align: justify;
}

.detaillist .content p {
    font-size: 16px;
}

.detaillist .content>span {
    float: right;
    color: rgb(51, 96, 166);
    line-height: 24px;
}

.more {
    margin: 6px auto 0px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(224, 224, 224);
    text-align: center;
    color: rgb(0, 107, 208);
    background-color: rgb(251, 251, 251);
    font-size: 14px;
}

.banquan {
    text-align: center;
    padding-top: 10px;
}

.banquan span {
    font-size: 14px;
}

.banquan span a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

.footer {
    padding: 10px;
}

.foot {
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.foot-box {
    max-width: 720px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    border-top: 1px solid #666;
}

.foot-box .foot-img {
    padding: 5px;
    float: left;
}

.foot-box .foot-img img {
    width: 50px;
    height: 50px;
}

.foot-box .add {
    float: left;
    font-size: 14px;
}

.foot-box .add span {
    font-size: 16px;
    color: #333;
}

@media screen and (max-width:470px) {
    .foot-box .add .br {
        display: block;
    }
}

.foot-box .go {
    background-color: rgb(192, 0, 0);
    float: right;
    color: #fff;
    font-weight: 600;
    padding: 5px 5px 5px 9px;
    border-radius: 5px;
    line-height: 28px;
    margin-top: 5px;
    margin-right: 5px;
}

.foot-box .go a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.clos p .weixin,
.detaillist .content p .weixin,
.foot .foot-box .add span .weixin {
    font-size: 20px;
    color: red;
    background-color: yellow;
    font-weight: 600;
}