.body .content{
	height: calc(100% - 3rem - 16px);    
}
.content .mdui-select,.content .mdui-textfield-input{
	width:calc(100% - 16px);
}
.content .mdui-textfield-input.width_min{
	width:calc(70% - 16px);	margin:8px 8px 8px 0;
}
.content button.mdui-float-right{
	width:calc(30% - 16px);margin:8px 16px 8px 0;	
}

.content .item_name{
	font-size: 14px;color:#666;margin-top:15px;display:block;
}
.form_option{
	padding-top: 10px;text-align: center;
}