*{
	margin: 0px;
	padding: 0px;
	font-weight: 400;
	font-family: '微软雅黑';
}

/**
 * 头部样式 start
 */

.header{
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #e7eaf1;
	box-shadow: 0 1px 3px 0 rgba(0,37,55,.05);
}

.header-box{
	max-width: 720px;
	margin: 0 auto;
	overflow: hidden;
	padding: 16px 0;
}

.header-box .clos{
	float: left;
}

.header-box .clos .clos-01{
	overflow: hidden;
	padding: 0 12px;
}

.header-box .clos .clos-01 .title01{
	float: left;
	padding: 0 12px;
	font-size: 14px;
	line-height: 30px;
	color: #3e7ac2;
	background-color: #eef4fa;
	margin: 3px 2px;
	border-radius: 100px;
}

.header-box .clos .clos-02{
	padding: 0 12px;
}

.header-box .clos .clos-02 h2{
	margin-top: 12px;
	margin-bottom: 4px;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	color: #1e1e1e;
}

.header-box .clos .share{
	overflow: hidden;
}

.header-box .clos .share .share-01{
	float: left;
	color: #7a8599;
	margin: 0 12px;
}

.header-box .clos .share .share-01 span{
	font-size: 14px;
}

/**
 * 头部样式 end
 */

/**
 * 主体样式 start
 */

	/**
	 *顶部回答数 排序
	 */

.contain{
	background-color: #f7f8fa;
	padding: 20px 0px;
}

.contain-box{
	max-width: 720px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #e7eaf1;
	box-shadow: 0 1px 3px rgba(0,37,55,.05);
	border-radius: 2px;
}

.contain-box .review{
	margin: 0 12px;
	overflow: hidden;
}

.contain-box .review .review-01{
	float: left;
	line-height: 50px;
	font-size: 15px;
	color: #262626;
}

.contain-box .review .review-02{
	float: right;
	line-height: 50px;
	width: 78px;
	font-size: 15px;
	color: #262626;
	position: relative;
}

.contain-box .review .review-02 img{
	position: absolute;
	top: 19px;
	left: 65px;
}
	/**
	 *主要内容
	 */
.main-box{
	padding: 0px 12px;
}

.list-item{
	border-top: 1px solid #f0f2f7;
	padding: 16px 0px;
}

.list-item .list-01{
	font-size: 15px;
	font-weight: 600;
	color: #555;
	overflow: hidden;
}

.list-item .list-01 img{
	float: left;
}

.order{
	display: inline-block;
	line-height: 20px;
	text-align: center;
	background: #3381e3;
	color: #fff;
	padding: 0 4px;
	margin: 0 4px 0 0;
	border-radius: 2px;
}

.lou-01{
	float: left;
	padding-left: 10px;
}

.lou-01 .name{
	font-size: 15px;
	font-weight: 600;
	line-height: 1.1;
	color: #555
}

.list-item .list-02{
	font-size: 14px;
	color: #8590a6;
	padding-top: 10px;
}

.list-item .maintext{
	font-size: 15px;
	line-height: 25px;
	color: #262626;
	text-indent: 2em;
	text-align: justify;
}

.list-item .riqi{
	font-size: 14px;
	color: #8590a6;
	line-height: 25px;
	margin-top: 1em;
}

.line-50{
	line-height: 36px;
}

.list-item .pad{
	text-indent: 0em;
}

.list-item .list-03{
	overflow: hidden;
	margin-top: 15px;
}

.list-item .list-03 .up,
.list-item .list-03 .down{
	float: left;
	padding: 0 10px;
	color: #2d84cc;
	background: #ebf3fb;
	font-size: 14px;
	line-height: 32px;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 3px;
}

.list-item .list-03 .up img{
	position: relative;
	top: -1px;
	margin-right: 5px;
}

.list-item .list-03 .down img{
	position: relative;
	top: -1px;
}

.list-item .list-03 .thk{
	line-height: 32px;
	font-size: 14px;
	color: #7a8599;
	float: left;
}
@media screen and (max-width:480px){
	.list-item .list-03 .thk{
		display: block;
	}
}

.list-item .list-03 .thk img{
	margin-left: 24px;
}

@media screen and (max-width:480px){
	.list-item .list-03 .thk img{
		margin-left: 0px;
	}
}

.list-item .list-03 .thk span{
	margin-left: 5px;
}

@media screen and (max-width:480px){
	.list-item .list-03 .thk span{
		margin-left: 3px;
		margin-right: 10px;
	}
}

.list-item .huifu {
	color: #333;
	font-size: 15px;
	margin-top: 1em;
}

.list-item .huifu .blue{
	color: blue;
}

p .weixin,
.huifu span .weixin{
	background-color: yellow;
	color: red;
	font-size: 18px;
	font-weight: 600;
}

.add-box {
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.add-box .add-bg {
    background-color: #eeeeee;
    max-width: 720px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #dedddd;
}

.add-box .add-bg .add-img {
    width: 50px;
    height: auto;
    padding: 10px;
    float: left;
}

.add-box .add-bg .add-img img {
    width: 100%;
}

.add-box .add-bg .add-add {
    float: left;
    text-align: left;
    padding-top: 5px;
}

.add-box .add-bg .add-add span {
    color: #333;
    font-size: 18px;
}

.add-box .add-bg .add-add span span {
    background-color: yellow;
    font-size: 18px;
    color: red;
    font-weight: 600;
}

.add-box .add-bg .add-weixin {
    padding: 10px;
}

.add-box .add-bg .add-weixin .add-go {
    padding: 10px 15px;
    background-color: #3c9f0e;
    float: right;
    color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #888888;
}

.add-box .add-bg .add-weixin .add-go a {
    font-size: 14px;
    color: #fff;
}





