*{
	padding: 0;
	margin: 0;
	font-family: '宋体';
}

.contain{
	max-width: 750px;
	margin: 0 auto;
}

h2{
	font-size: 26px;
	font-weight: 600;
	text-align: center;
	line-height: 50px;
}

.pic-100{
	width: 100%;
	margin: 0 auto;
}

.pic-90{
	width: 90%;
	margin: 0 auto;
}

.pic-80{
	width: 80%;
	margin: 0 auto;
}

img{
	width: 100%;
}

p{
	text-align: justify;
	padding: 15px;
	font-size: 18px;
	line-height: 24px;
}

.yellow{
	font-size: 24px;
    font-weight: bold;
    background-color: #aaa;
    line-height: 30px;
    color: yellow;
}

h3{
	text-align: center;
	color: #666;
	line-height: 50px;
    font-size: 26px;
    font-weight: bold;
}

.clos-02{
	padding: 20px 0px;
}

.align-right{
    width: 90%;
    margin: -10px auto;
    text-align: right;
    color: gray;
    font-size: 15px;
}

.clos-03{
    background-color: rgb(229,229,229);
    margin-top: 40px;
    position: relative;
    padding-top: 30px;
}

.top-title{
    position: absolute;
    top: -30px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #2c2c2c;
    height: 50px;
    width: 150px;
    line-height: 50px;
    z-index: 100;
    background-color: white;
    font-size: 24px;
    font-weight: 700;
    color: rgb(77,54,44);	
    padding: 0px
}


.red{
	color: red;
	font-weight: 600;
}

.clos-05{
	position: relative;	
	margin-top: 30px;
}

.bg{
	width: 100%;
    height: 30px;
    background-color: rgb(175,173,183);
    margin-bottom: 15px;
}

.clos-05>.top-title{
	top: -11px;
}

.bg-red{
	height: 60px;
    background-color: red;
    line-height: 60px;
}

h4{
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    text-align: center;	
}

.clos-06{
	border: 5px solid red;
}

.clos-06>p{
    padding: 10px 15px;
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
    color: #a3f;	
}

.clos-06>.red{
	color: red;
}

.weixin{
	color: red;
	background-color: yellow;
	font-weight: 600;
}

.bg-zongse{
    padding: 4px;
    background-color: rgb(154,106,60);
    font-weight: bold;
    font-size: 20px;
    color: white;	
}

.clos-09{
	position: relative;
}

.clos-09>.top-title{
	width: 300px;
	height: 80px;
	line-height: 40px;
}

.bg-gray{
	background-color: rgb(229,229,229);
    margin-top: 15px;
    margin-bottom: 15px;
}

.bg-gray>p{
	font-weight: 600;
}

.center{
	text-align: center;
	padding: 0px;
	font-weight: 600;
}

.clos-11-title{
	text-align: center;
}

.clos-11-title>span{
	line-height: 50px;
	height: 50px;
	background-color: rgb(150,100,53);
	padding: 13px 10px;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
}